@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    height: 100%; 
    background: url(/2144.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
